<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/sms/js/clipboard.js"></script>
<script src="/static/sms/nav/jquery.okayNav-min.js.js"></script>
<script type="text/javascript">
    $(function () {
        $("#click").height($(document).height() - 84);
        $("#click").click(function () {
            if ($("#left").hasClass("navslid-hide")) {
                $("#left").addClass("navslid-show");
                $("#left").removeClass("navslid-hide");
                $("#click").removeClass("layui-icon-next");
                $("#click").addClass("layui-icon-prev");
            } else if ($("#left").hasClass("navslid-show")) {
                $("#left").addClass("navslid-hide");
                $("#left").removeClass("navslid-show");
                $("#click").removeClass("layui-icon-prev");
                $("#click").addClass("layui-icon-next");
            } else {
                $("#left").addClass("navslid-hide");
                console.log("default no");
                $("#click").removeClass("layui-icon-prev");
                $("#click").addClass("layui-icon-next");
            }
        });
        //首页导航
        var navigation = $('#nav-main').okayNav({
            swipe_enabled: false,
        });
        var get_region = window.location.pathname
        if (get_region == '/') {
            get_region = '/index/index.html'
        }
        switch (get_region) {
            case '/index/index.html':
                $('#dl').addClass('link-hr')
                break;
            case '/index/gat.html':
                $('#gat').addClass('link-hr')
                break;
            case '/index/gw.html':
                $('#gw').addClass('link-hr')
                break;
            case '/article.html':
                $('#article').addClass('link-hr')
                break;
        }
        var layer = layui.layer
        //点击复制
        $('.copy').click(function (e) {
            var clipboard = new Clipboard('.copy')
            clipboard.on('success', function (e) {
                layer.msg('复制' + e.text + '成功', {icon: 1})
            })
            clipboard.on('error', function (e) {
                layer.msg('复制' + e.text + '失败', {icon: 2})
            })
        })

        $('.clickA').click(function (e) {
            if (window.matchMedia("(min-width: 767px)").matches) {
                var index = layer.load(1, {
                    shade: [0.5, '#fff'] //0.1透明度的白色背景
                })
            }
        })
    });

</script>
</html>