{include file="../application/best/view/header.html" title="The crawler validation" /}

<div class="container">
    <div class="row text-center">
        <div class="mt-5">
            <img src="/static/web/images/error/spider.png">
        </div>
        <div id="h-captcha" data-callback="captchaCallback" class="mt-4 h-captcha"></div>
    </div>
</div>
<!--<script src='https://www.hCaptcha.com/1/api.js' async></script>-->
<script src="https://js.hcaptcha.com/1/api.js?onload=hcaptchas&render=explicit" async defer></script>
<script src="https://recaptcha.net/recaptcha/api.js?render=6Lf71VQcAAAAAG1lsIdsb3aeTivSf_rkKUKaCu7V"></script>
<script src="/static/web/js/jquery-3.6.0.min.js" async></script>
<script src="/static/web/js/tools.js" async></script>
<script>
    grecaptcha.ready(function() {
        var renderKey = '6Lf71VQcAAAAAG1lsIdsb3aeTivSf_rkKUKaCu7V'
        grecaptcha.execute(renderKey, {action: 'bestCheck'}).then(function(token) {
            $.ajax({
                url: '/recaptcha',
                type: 'post',
                data: {token:token, page:'check'},
                success: function (e) {
                    if (e.msg == 'success'){
                        let jump = referrer();
                        if (!jump){
                            jump = window.location.protocol+'//' + window.location.host;
                        }
                        window.location.href = jump;
                    }
                }
            })
        })
    })
    var hcaptchas = function () {
        var widgetID = hcaptcha.render('h-captcha', { sitekey: 'd8230bc7-7834-49ac-bdce-acfa0f8fe8c1' })
    };

</script>
{include file="../application/best/view/foot.html" /}