{include file="../application/best/view/header.html" title="<?php echo $message_heads['title'];?>" description="<?php echo $message_heads['description'];?>" keywords="<?php echo $message_heads['keywords'];?>" /}
<!-- Main content -->
<div class="content">
    <div class="banner">
        <div class="container" style="margin: 30px auto;">
            <div class="row">
                <h1 class="text-center">Free Receive SMS From USA</h1>
                <span> IS A FREE SERVICE FOR RECEIVING SMS MESSAGES AND VOICE MAILS ONLINE. THERE IS NO NEED TO
							REGISTER. JUST SELECT YOUR PHONE NUMBER FROM THE LIST BELOW. YOU CAN USE IT TO RECEIVE
							MESSAGES FROM FACEBOOK, TELEGRAM, WECHAT, VK, PAYPAL, ALIPAY AND MORE</span>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <img src="ad.png" class="img-thumbnail" alt="...">
    </div>
    <div class="phone" style="margin-top: 40px;">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="card text-center border-0 shadow p-3 mb-4 bg-white rounded">
                        <div class="bg-white">

                        </div>
                        <div class="card-body">
                            <p class="card-text number-font fw-bold fs-1">
                                <img src="/static/web/images/flag/1.svg" width="8%" class="" alt="...">
                                <span>
											<span class="fs-4">+&#xa004;&#xa004;</span>
											&#xa008;&#xa009;&#xa002;&#xa003;&#xa004;&#xa005;&#xa006;&#xa007;&#xa008;&#xa009;
										</span>
                                <span>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
                                                      d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
												<path
                                                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
												<path
                                                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
											</svg>
										</span>
                            </p>
                            <div class="">
                                <button type="button" class="btn btn-primary-light text-light mt-1"
                                        onclick="toast()">Update Messages</button>
                                <button type="button" class="btn btn-primary-light text-light mt-1"
                                        onclick="toast()">Random Phone</button>
                            </div>
                            <button type="button" class="btn mt-1 btn-sm text-light"
                                    style="background-color: #C6C7C8;">Unable To Receive</button>
                        </div>
                        <div class="bg-white text-muted border-0 text-end text-success">

                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row mt-3" style="margin-left: 10px;height: 30px;">
                        <nav aria-label="breadcrumb" class="fw-bold">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Receive sms</a></li>
                                <li class="breadcrumb-item"><a href="#">USA</a></li>
                                <li class="breadcrumb-item active" aria-current="page">1155665</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="card text-center border-0 shadow p-3 mb-4 bg-white rounded">
                        <div class="card-body">
                            <div class="d-none">
                                <img src="/static/web/images/empty-mail.svg">
                                <p class="fw-bold">No emails yet</p>
                            </div>

                            <table class="table table-striped table-hover text-start">
                                <thead>
                                <tr>
                                    <th scope="col">FROM</th>
                                    <th scope="col">MESSAGE</th>
                                    <th scope="col">TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="p-3 align-middle">VERSE</td>
                                    <td class="p-3 align-middle">060955 es tu codigo para entrar en Verse.
                                        No lo compartas con nadie.
                                        Nunca te pediremos este codigo a través de llamadas telefonicas o
                                        correos electr</td>
                                    <td class="p-3 align-middle">13 minutes ago</td>
                                </tr>
                                <tr>
                                    <td class="p-3 align-middle">Jacob</td>
                                    <td class="p-3 align-middle">Ecco il tuo codice di sicurezza PayPal:
                                        931737. Questo codice scadra
                                        tra 10 minuti. Non condividerlo con nessuno.</td>
                                    <td class="p-3 align-middle">time</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="container my-3">
                                            <img src="ad.png" class="img-thumbnail" alt="...">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-3 align-middle">Jacob</td>
                                    <td class="p-3 align-middle">Ecco il tuo codice di sicurezza PayPal:
                                        931737. </td>
                                    <td class="p-3 align-middle">time</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="bg-white text-muted border-0 text-end text-success">

                        </div>
                    </div>
                </div>


                <div class="container my-3 d-none">
                    <img src="ad.png" class="img-thumbnail" alt="...">
                </div>
                <!-- Phone list end -->
                <!-- Page start -->
                <div class="container">
                    <div class="row">
                        <div class="page">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Page end-->
            </div>
        </div>
    </div>
</div>
<!-- main content end-->
{include file="../application/best/view/foot.html" /}
