{include file="../application/mys/view/header.html" title="百度,蓝奏云网盘密码获取神器" description="网盘密码获取神器能根据网址自动获取百度云网盘,蓝奏云盘加密分享链接的密码,快速好用,居家必备" keywords="网盘密码,云盘密码,网盘钥匙,万能网盘钥匙" /}
<div class="info-top">
    <div class="info-top-h1"><h1>网盘密码获取神器</h1></div>
    <div class="info-top-h4"><h4>网盘密码获取神器目前仅支持百度网盘，蓝奏云，腾讯微云加密页面的密码获取，直接粘贴网盘url即可自动获取密码。解密仅限于有过分享且有公开记录的密码，无法也不会对未公开分享的密码进行解密，不会泄漏个人隐私，请放心使用。该系统数据来自云盘万能钥匙仅供测试学习使用，如有建议或者问题请直接点击右下角按扭反馈信息。</h4></div>
</div>
<link rel="stylesheet" href="/static/sms/css/mail.css?version=0.0.1">
<script>
    layui.use(['form'], function () {
        var form = layui.form
    })
</script>
{include file="../application/template/adsense/wppassword_banner_top.html" /}
        <div class="main" style="margin-top:10px;">
            <div class="layui-row">
                <div class="layui-col-lg12 card">
                    <div class="layui-card" style="min-height:250px;">
                        <div class="layui-card-header">
                            网盘密码获取神器（测试版）
                        </div>
                        <div class="layui-card-body">
                            <div class="main-body-name">
                                <span class="copy" data-clipboard-text="{$email|default = ''}" id="email">{$email | default = ''}</span>
                            </div>
                            <div class="mail-body-middle layui-form">
                                <div class="layui-row layui-col-space10">
                                	<div style="text-align: center;font-size: 12px;line-height: 10px;padding: 0;color: #FF0000">准确率：{$precision}%</div>
                                    <div class="layui-col-lg12 layui-col-sm12 layui-col-xs12">
                                            <input type="text" name="url" lay-verify="required" placeholder="输入：百度网盘 或 蓝奏云链接" autocomplete="off" class="layui-input" style="text-align: center;">
                                    </div>
                                </div>
                            </div>
                            <div style="font-size: 11px;">
                                示例：<a href="#" lang="https://www.lanzous.com/b07xe5xpi" onclick="example(this.lang)">https://www.lanzous.com/b07xe5xpi</a><br>
                                示例：<a href="#" lang="https://pan.baidu.com/s/1wD7e4_zNj72l8CkJ_GxRIg" onclick="example(this.lang)">https://pan.baidu.com/s/1wD7e4_zNj72l8CkJ_GxRIg</a><br>
                                示例：<a href="#" lang="https://pan.baidu.com/share/init?surl=BIJoBzfc5t9_zrqvC6KuSw" onclick="example(this.lang)">https://pan.baidu.com/share/init?surl=BIJoBzfc5t9_zrqvC6KuSw</a> <br>
                                注意：格式不对，将会导致获取失败。
                            </div>
                            <div class="mail-body-top">
                                <button class="layui-btn" onclick="get_password()">获 取 密 码</button>
                                <button class="layui-btn" onclick="open_wp()">打 开 网 盘</button>
                            </div>
                            <div class="mail-body-top" id="password" style="color: red;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div style="margin-top:10px;">
                {include file="../application/template/adsense/wppassword_matched.html" /}
         </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <script>
        function get_password() {
            var wp_url = $("input[name='url']").val()
            if (!wp_url) {
                layer.msg('URL地址不能为空')
                return
            }
            var point = snap_point(wp_url)
            //console.log(point)
            $.ajax({
                url: '/api/wp_password',
                type: 'post',
                data: {'url': wp_url, 'point' : point},
                beforeSend: function(){
                    var index = layer.load(2);
                },
                success: function (e) {
                    console.log(e)
                    if (e.error_code == 0) {
                        $("div[id='password']").html('密码：' + e.data)
                        var email_list = "<tr><td colspan='3' class='mail-null'>{$Think.lang.mail_alert_click_receive}</td></tr>"
                        $("tbody[id='mail_list']").html(email_list)
                        layer.msg(e.msg)
                    } else {
                        layer.msg(e.msg)
                    }
                },
                complete: function () {
                    layer.closeAll('loading');
                }
            })
        }

        function open_wp() {
            var wp_url = $("input[name='url']").val()
            //console.log(wp_url)
            if (!wp_url) {
                layer.msg('请先输入网址地址')
                return
            }else {
                window.open(wp_url)
            }
        }

        function example(url) {
            $("input[name='url']").val(url)
        }
        function snap_point(url) {
            let urls = new Array()
            var str = ''
            //console.log()
            urls = url.trim().split("/")

            if (urls[3] === "s"){
                str = urls[4].substr(1)
            }else if (urls[3] === "share"){
                str = urls[4].substr(10)
            }else{
                str = urls[urls.length - 1]
            }
            //console.log(str)
            //console.log(urls)
            if (str.length < 2) {
                return "0:0";
            }

            var path = "";
            var current, last = str[0].charCodeAt();
            var sum = last;
            for (var i = 1; i < str.length; i++) {
                current = str[i].charCodeAt();
                if (i == 1) {
                    path = path + "M";
                } else {
                    path = path + " L";
                }
                path = path + current + " " + last;
                last = current;
                sum = sum + current;
            }
            path = path + " Z";
            var index = sum % str.length;
            var data = Snap.path.getPointAtLength(path, str[index].charCodeAt());
            return data.m.x + ":" + data.n.y;
        }
    </script>
    {include file="../application/mys/view/foot.html" /}