{include file="../application/best/view/header.html" title="Best Receive SMS Blog - BestReceiveSMS.com" description="Best Receive SMS Blog - BestReceiveSMS.com" keywords="Best Receive SMS Blog,receive sms online,bestreceivesms" /}
<!-- Main content -->
<div class="content">
    <div class="banner">
        <div class="container">
            <div class="row">
                <h1 class="text-center">

                </h1>
                <span>

                </span>
            </div>
        </div>
    </div>
    <div class="container my-3 d-none">
        <img src="ad.png" class="img-thumbnail" alt="...">
    </div>
    <div class="phone mt-4">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="card text-center border-0 shadow p-3 mb-4 bg-white rounded">
                        <div class="bg-white">
                            <p class="card-text little-font fw-bold fs-1">【Best<span class="text-danger">Receive</span>SMS.com】 BLOG</p>
                        </div>
                        <div class="card-body text-start">
                            {volist name="article" id="vo" empty="$empty"}
                            <h6><a class="click_loading" href="/receive-sms-blog/{$vo.id}">{$vo.title}</a></h6>
                            <hr />
                            {/volist}
                        </div>
                        <div class="bg-white text-muted border-0 text-end text-success">

                        </div>
                    </div>
                </div>

                <div class="container my-3 d-none">
                    <img src="ad.png" class="img-thumbnail" alt="...">
                </div>
                <!-- Phone list end -->
                <!-- Page start -->
                <div class="container">
                    <div class="row">
                        <div class="page">
                            {$article|raw}
                        </div>
                    </div>
                </div>
                <!-- Page end-->
            </div>
        </div>
    </div>
</div>
<!-- main content end-->
{include file="../application/best/view/foot.html" /}