{include file="../application/best/view/header.html" title="<?php echo $article_heads['title'];?>" description="<?php echo $article_heads['description'];?>" keywords="<?php echo $article_heads['keywords'];?>" /}
<!-- Main content -->
<div class="content">
    <div class="banner">
        <div class="container mt-4">
            <div class="row">
                <h1 class="text-center">(Permanent Free) Receive SMS Online</h1>
                <span> IS A FREE SERVICE FOR RECEIVING SMS MESSAGES AND VOICE MAILS ONLINE. THERE IS NO NEED TO
							REGISTER. JUST SELECT YOUR PHONE NUMBER FROM THE LIST BELOW. YOU CAN USE IT TO RECEIVE
							MESSAGES FROM FACEBOOK, TELEGRAM, WECHAT, VK, PAYPAL, ALIPAY AND MORE</span>
            </div>
        </div>
    </div>
    <div class="container my-3 d-none">
        <img src="ad.png" class="img-thumbnail" alt="...">
    </div>
    <div class="phone mt-4">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="card text-center border-0 shadow p-3 mb-4 bg-white rounded">
                        <div class="bg-white">
                            <p class="card-text little-font fw-bold fs-1">Blog</p>
                        </div>
                        <div class="card-body text-start">
                            {volist name="article" id="vo" empty="$empty"}
                            <h6><a class="click_loading" href="/receive-sms-blog/{$vo.id}">{$vo.title}</a></h6>
                            <hr />
                            {/volist}
                        </div>
                        <div class="bg-white text-muted border-0 text-end text-success">

                        </div>
                    </div>
                </div>

                <div class="container my-3 d-none">
                    <img src="ad.png" class="img-thumbnail" alt="...">
                </div>
                <!-- Phone list end -->
                <!-- Page start -->
                <div class="container">
                    <div class="row">
                        <div class="page">
                            {$article|raw}
                        </div>
                    </div>
                </div>
                <!-- Page end-->
            </div>
        </div>
    </div>
</div>
<!-- main content end-->
{include file="../application/best/view/foot.html" /}