<select onchange="window.location=this.value" style="background-color: #353B42;border-color:#353B42;">
    <option value ="https://mytempsms.com">English</option>
    <option value ="https://es.mytempsms.com">Spanish</option>
    <option value ="https://de.mytempsms.com">Deutsch</option>
    <option value ="https://ja.mytempsms.com">日本語</option>
    <option value ="https://cn.mytempsms.com">中文简体</option>
    <option value ="https://cn.mytempsms.com">中文繁體</option>
    <option value ="https://ko.mytempsms.com">한국어</option>
    <option value ="https://ru.mytempsms.com">русский</option>
    <option value ="https://ar.mytempsms.com">العربية</option>
    <option value ="https://fr.mytempsms.com">French</option>
    <option value ="https://vi.mytempsms.com">Việt nam</option>
    <option value ="https://bd.mytempsms.com">বাংলা</option>
    <option value ="https://it.mytempsms.com">Italia</option>
    <option value ="https://ir.mytempsms.com">ایران</option>
    <option value ="https://id.mytempsms.com">Indonesia</option>
    <option value ="https://pt.mytempsms.com">Portugal</option>
    <option value ="https://in.mytempsms.com">भारत</option>
    <option value ="https://my.mytempsms.com">Malaysia</option>
    <option value ="https://az.mytempsms.com">Azərbaycan</option>
    <option value ="https://al.mytempsms.com">Shqiperia</option>
    <option value ="https://pk.mytempsms.com">اردو</option>
    <option value ="https://tr.mytempsms.com">Türk</option>
    <option value ="https://th.mytempsms.com">ไทย</option>
    <option value ="https://za.mytempsms.com">Suid-Afrika</option>
    <option value ="https://mm.mytempsms.com">ဗမာ</option>
    <option value ="https://tz.mytempsms.com">Kiswahili</option>
    <option value ="https://ua.mytempsms.com">Український</option>
    <option value ="https://pl.mytempsms.com">Polskie</option>
    <option value ="https://uz.mytempsms.com">O'zbek</option>
    <option value ="https://se.mytempsms.com">Sverige</option>
    <option value ="https://nl.mytempsms.com">Nederland</option>
</select>