body {
	font-family: 'Poppins', sans-serif;
	background-color: #F8F8F8;
}

a {
	text-decoration: none;
}

a:link {
	color: #3F3F3F;
}

/* 未访问链接*/
a:visited {
	color: #3F3F3F;
}

/* 已访问链接 */
a:hover {
	color: #334e68;
}

/* 鼠标移动到链接上 */
a:active {
	color: #666666;
}

/* 鼠标点击时 */
.link-white a {
	color: #FFFFFF;
}

@font-face {
	font-family: 'number';
	font-display: block;
	src: url('numberfont/fontello.eot');
	src: url('numberfont/fontello.eot') format('embedded-opentype'),
	url('numberfont/fontello.woff2') format('woff2'),
	url('numberfont/fontello.woff') format('woff'),
	url('numberfont/fontello.ttf') format('truetype'),
	url('numberfont/fontello.svg') format('svg');
}

.number-font {
	font-family: 'number';
}

.container {
	max-width: 1200px;
}

.bg-primary {
	background-color: #334e68 !important;
}

.border-primary {
	border-color: #334e68 !important;
}

.bg-primary-light {
	background-color: #4e6e8c;
}

.btn-primary {
	background-color: #066ac9;
}

.btn-primary-light {
	background-color: #066ac9;
}

.little-font {
	font-size: 13px;
}

.nav-link {
	color: #334e68;
}

.top:focus{
	box-shadow:none!important;
}

/* 分页颜色更改 */
.pagination>li>a {
	background-color: white;
	color: #334e68;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	color: #5a5a5a;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>.active>a {
	color: white;
	background-color: #334e68 !Important;
	border: solid 1px #334e68 !Important;
}

.pagination>.active>a:hover {
	background-color: #334e68 !Important;
	border: solid 1px #334e68;
}

/* 分页颜色更改end */
.notify {
	z-index: -1;
}

.email-font {
	font-size: 3rem;
}

@media only screen and (max-width: 3000px) {
	.email-font {
		font-size: 3rem;
	}

}

@media only screen and (max-width: 768px) {
	.email-font {
		font-size: 2rem;
	}

}

/*小于576px*/
@media only screen and (max-width: 576px) {
	.email-font {
		font-size: 1.5rem;
	}
	.card-body{
		padding: 10px 0 0 0;
	}
}

/*大于576px*/
@media only screen and (min-width: 576px) {
	.message-card{
		padding: 20px;
	}
}

@media only screen and (min-width: 1000px) {
	.country-flag{
		height: 150px;
	}
	.top{
		background-color: #FFFFFF;
	}
}

@media only screen and (max-width: 1000px) {
	.dot{
		top: 50%!important;
		left: 50%!important;
	}
}

.cursor{
	cursor: pointer;
}

.shade{
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.6);
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	opacity:0.3;
	filter: alpha(opacity=30);
}
.spinner-border{
	z-index: 2;
}

/*loading 动态...*/
.dotting {
	display: inline-block; min-width: 3px; min-height: 3px;
	box-shadow: 4px 0 currentColor, 8px 0 currentColor, 12px 0 currentColor; /* for IE9+, ..., 3个点 */
	animation: dot 1s infinite step-start both; /* for IE10+, ... */
}
@keyframes dot {
	25% { box-shadow: none; }                                  /* 0个点 */
	50% { box-shadow: 4px 0 currentColor; }                    /* 1个点 */
	75% { box-shadow: 4px 0 currentColor, 8px 0 currentColor;  /* 2个点 */ }
}

.grecaptcha-badge{display:none}

.top{
	position:fixed;
	right:30px;
	bottom:30px;
	padding: 10px;
}
.about a:link{
	color: #6c757d;
}
.main-right{
	position:fixed;
	right:15px;
	top:90px;
}
.main-left{
	position:fixed;
	left:60px;
	top:90px;
}