{include file="../application/best/view/header.html" title="unsubscribe" /}
<div class="container">
    <div class="row">
        <form class="row g-3" id="form_data">
                <div class="form-floating mb-3">
                    <input class="form-control" id="email" placeholder="Enter the email address that needs to be unsubscribed" required onfocus="inputFocus()">
                    <label class="ms-2 text-secondary" for="email">Tip:Unsubscribe email address</label>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
            </form>
            <div>
                <button class="btn btn-primary-light text-light col-sm-2" type="button" onclick="unsubscribe()">Unsubscribe</button>
            </div>
        </form>
    </div>
</div>
<div id="foot-null"></div>
<script>
    function unsubscribe() {
        inputFocus();
        loadScript(function () {
            let mailbox = $("#email").val();
            $.ajax({
                url: '/api/unsubscribe',
                type: 'post',
                data: {mailbox: mailbox},
                beforeSend: function(){
                    loading();
                },
                success: function (e) {
                    console.log(e)
                    if (e.error_code == 0) {
                        toast(e.msg);
                    } else if(e.error_code == 4003){
                        window.open("/spi");
                        //window.location.href = "/spi";
                    } else {
                        toast(e.msg, {type: 'danger'})
                    }
                },
                complete: function () {
                    loading(false);
                }
            })
        })
    }
</script>
{include file="../application/best/view/foot.html" /}