{include file="../application/best/view/header.html" title="<?php echo $project_heads['title'];?>" description="<?php echo $project_heads['description'];?>" keywords="<?php echo $project_heads['keywords'];?>" rel_url="<?php echo $rel_url?>" /}
<!-- Main content -->
<div class="content">
    <div class="banner">
        <div class="container mt-4">
            <div class="row">
                <h1 class="text-center text-uppercase">
                    <?php echo $project_heads['info_top_h1'];?>
                </h1>
                <span>
                    <?php echo $project_heads['info_top_h4'];?>
                </span>
            </div>
        </div>
    </div>
    <div class="container my-3 d-none AD">

    </div>
    <div class="phone mt-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="container-ad">
                    <div class="card text-center border-0 shadow p-3 mb-4 bg-white rounded">
                        <div class="card-body pb-0 text-start">
                            {volist name="country_list" id="country" empty=""}
                            <span class="badge bg-primary link-white"><a href="/{$country | strtolower}-phone-number" title="receive sms from {$country} phone number">{$country}</a></span>
                            {/volist}
                            <span class="badge bg-secondary link-white"><a href="/country" title="more country">More Country</a></span>

                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover text-start">
                                <thead>
                                {notempty name="data"}
                                <tr>
                                    <th scope="col">PROJECT</th>
                                    <!--<th scope="col">NUMBER</th>-->
                                    <th scope="col">MESSAGE</th>
                                </tr>
                                {/notempty}
                                </thead>
                                <tbody>
                                {volist name="data" id="vo" empty="$empty"}
                                <tr>
                                    <td class="p-3 align-middle"><a href="/receive-sms-from-{$vo.url}">{$vo.url}</a></td>
                                    {php}/*<td class="p-3 align-middle"><a href="/receive-sms-from-{$vo.en_title | strtolower}/{$vo.uid}">{$vo.uid}</a></td>*/{/php}
                                    <td class="p-3 align-middle">{$vo.smsContent}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="text-start">
                                {volist name = "recommend" id = "re"}
                                <span class="badge bg-danger link-white"><a href="/receive-sms-from-{$re}" title="receive sms from tikitok">{$re}</a></span>
                                {/volist}
                                <span class="badge bg-secondary link-white"><a href="/receive-sms-from" >More Project</a></span>
                            </div>
                        </div>
                        <div class="bg-white text-muted border-0 text-end text-success">

                        </div>
                    </div>
                </div>
                <!-- Phone list end -->
            </div>
        </div>
    </div>
</div>
<!-- main content end-->
{include file="../application/best/view/foot.html" /}