/* html {-webkit-filter: grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(graysale=1);} */
html{
    overflow-x: hidden;
}
body {
    background-color: #f2f2f2;
}

.info {
    color: #4E5465;
}
.blockquote{
    min-height: 250px;
}

.layuiadmin-big-font {
    height: 50px;
}

.layuiadmin-card-list p.layuiadmin-big-font {
    font-size: 36px;
    color: #666;
    line-height: 50px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.layui-card-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}

.guoqi {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 4px;
}

.layuiadmin-badge {
    top: 50%;
    margin-top: -9px;
    color: #01AAED;
}

.layuiadmin-badge, .layuiadmin-btn-group, .layuiadmin-span-color {
    position: absolute;
    right: 15px;
}

.layuiadmin-span-color {
    color: #ccc;
}

.card {
    margin-bottom: 5px;
}

.search {
    position: relative;
    margin-bottom: 12px;
}

.search-search {
    position: absolute;
    top: 12px;
    left: 5px;
    color: #ccc;
}

.search-input {
    padding-left: 30px;
}

.search-input::-webkit-input-placeholder {
    color: #ccc;
}

.search-close {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: #ccc;
}

.foot {
    background-color: #353B42;
    color: white;
    margin-top: 20px;
    text-align: center;
    min-height: 80px;
    line-height: 20px;
    padding-top: 30px;
}
.foot-link{
    color: white;
}
.main-right{
    position: fixed;
    right: 15px;
    top: 90px;
}
.main-left{
    position: fixed;
    left: 60px;
    top: 90px;
}
@media (min-width:1440px){
	.main-right-adsense{
		display: none;
	}
}

.main-bottom-center{
    position: fixed;
    display: flex; /**/
    justify-content: center; /*水平居中*/
    text-align: center;
    width: 728px;
    height: 90px;
    bottom:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 7;
}
@media (max-width:820px){
    .main-bottom-center{
        width: 0;
        margin-bottom: 32px;
    }
}

/*@media (min-width: 1440px) {
	.info-right{
		display: none;
	}
}
@media (max-width: 750px) and (min-width:1440px) {
	.info-right{
		display:'' ;
	}
}*/
/*@media (max-width: 992px) and (min-width: 2200px) {
	.main-right{width: 100px;}
}*/

.nav1 {
    color: #ffffff;
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: large;
    background-color: #353B42;
    display: flex;
    flex-direction: row;
}
.okayNav-header{
    background-color: #353B42;
    position: relative;
    z-index: 999;
}
.okayNav ul a{
    color: #ffffff;
}
.okayNav__menu-toggle{
    width: 12px;
    color: white;
}
.icon--active{
    color: #ffffff;
}
.link-hr{
    border-bottom:4px solid #FF0000;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    background-color: #353B42;
}
.card-phone {
    cursor: pointer;
}

.info li::before {
    content: '●';
    color: #aba7a7;
    font-size: 13px;
    padding-left: 10px;
}
.info{
    margin-top: 10px;
    position: relative;
}
.info-left{
    position: relative;
}
.info-right{
    position: absolute;
    right: 5px;
    top: 0.1px;
}
.adslot_mobile_bottom_matched {
    display: none;
}

@media (max-width: 500px) {
    .info-right-adsense{
    	display: none;
    }
    .adslot_mobile_bottom_matched {
        display:block;
    }
}
@media (min-width: 800px) {
    .info-right-adsense{
    	width: 320px;
    	height: 250px;
    }
}
@media (min-width: 1440px) {
    .info-right-adsense{
    	width: 0px;
    	height: 0px;
    }
}
.none {
    color: #999999;
    text-align: center;
}

.country-bh {
    font-size: 25px;
}

.copy {
    cursor: pointer;
    color: #999999;
}

/*a.hover-link:link{color: #3A63BD;}*/
/*a.hover-link:hover{color: #3A63BD;}*/
/*a.hover-link:visited{color: #3A63BD;}*/
a.nav-white:link {
    color: #ffffff;
}

a.nav-white:hover {
    color: #ffffff;
}

a.nav-white:visited {
    color: #ffffff;
}
.main{
    position: relative;
}
.ad-left{
    position: absolute;
    top: -10px;
    left: -50px;
}
.main-title {
    text-align: center;
}

.warn {
    border-left-color: #545D66;
}

/**
分类页
 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li a, .pagination li span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination li a:hover, .pagination li a:focus {
    background-color: #eee;
}

.pagination .active span, .pagination .active span:hover, .pagination .active span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #545D66;
    border-color: #545D66;
}

.pagination .disabled span, .pagination .disabled span:hover, .pagination .disabled span:focus {
    color: #999;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg li a {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-sm li a, .pagination-sm li span {
    padding: 5px 10px;
    font-size: 12px;
}
.grecaptcha-badge {
    display: none;
}
.article{
    background-color:white;
    padding: 15px;
}
.article-title{
    text-align: center;
    margin-top: 20px;
}
.article-content{
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}
.article-list{
    line-height: 35px;
    margin: 0 auto;
}
.article-notice{
    margin-bottom: 30px;
}
.article-list h3{
    border-bottom: solid 1px #DEDEDE;
}
@media (max-width: 500px) {
    .logo{max-width: 140px;}
}
.index-warn{
    margin-top: 10px;
}
.index-warn .layui-elem-quote{
    background-color: #F9D7D4;
    border-left:0px;
    border-radius: 6px;
    margin-bottom: 0px;
}
.index-info .layui-elem-quote{
    margin-top: 10px;
    background-color: #C6ECF9;
    border-left:0px;
    border-radius: 6px;
    margin-bottom: 0px;
}
.quote-right{
    text-align: right;
}

@media (max-width: 750px) {
    .layui-container{
        padding: 0px;
    }
    .layui-table[lay-size=lg] td{
        padding: 15px 2px;
    }
    /*wap导航浮动*/
    .header{
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .nav-null{
        min-height: 70px;
    }
    .text-center{
        text-align: center;
    }
}


/*myt*/
.logo-font{
    color: #ffffff;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
}
.top-bar-box{
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: #353B42;
}
.okayNav li{
    background-color: #353B42;
}

/*country*/
.country-box{
    text-align: center;
}
.country-image{
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
.country-title{
    margin-top: 10px;
    padding-bottom: 15px;
}
.info-top{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #F2F2F2, #E8E8EA , #F2F2F2);
    color: #000c17;
}
.info-top-h1{

}
.info-top-h4{

}
/*面包屑*/
.breadcrumb{
    /*height: 30px;
    line-height: 30px;
    margin-left: 15px;*/
}
.breadcrumb a:hover{
    color: #556ECA!important;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none;
}